# Configurações do Servidor
PORT=8080

# Configurações do Banco de Dados (PostgreSQL)
# Formato esperado: postgres://<usuario>:<senha>@<host>:<porta>/<nome_do_banco>?sslmode=disable
DATABASE_URL=postgres://usuario_local:senha_local@localhost:5432/goapi_db?sslmode=disable

# Autenticação
# Coloque aqui uma string aleatória e segura no seu .env real
JWT_SECRET=insira_uma_chave_secreta_segura_aqui